from unittest import TestCase

import <%=config[:constant_name]%>

class TestApp(TestCase):
    def test_my_number_is_what_i_think_it_will_be(self):
        my_number = 2
        self.assertTrue(isinstance(my_number, int))
        self.assertEqual(my_number, 2)

