# TODO: Correct this description of the program
"""
Some module for Python
==================================

<%=config[:name]%> is a Python module integrating classical machine
things in the tightly-knit world of Python packages.

See https://example.com for complete documentation.
"""

from .main import main
